.ProjectSection {
  display: block;
  border-top: 1px solid var(--grey-dark);

  strong {
    display: block;
    padding: 10px 0px;
    font-size: 10px;
    line-height: 1;
    font-family: var(--semibold);
  }
}
