.TaskStatistic {
  display: flex;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  gap: 10px;
  li {
    width: auto;
    p {
      font-size: 10px;
      color: var(--grey);
    }
    span {
      font-size: 12px;
    }
  }
}
