.Text {
  display: block;
  width: 100%;
  font-size: 12px;
  line-height: 1.6;
  color: var(--white);
  white-space: pre-line;

  //sizes
  &.small {
    font-size: 10px;
    line-height: 1.3;
  }

  &.big {
    font-size: 14px;
    line-height: 1.5;
  }

  //align
  &.center {
    text-align: center;
  }

  &.left {
    text-align: left;
  }

  &.right {
    text-align: right;
  }

  //colors
  &.color {
    color: var(--color);
  }

  &.green {
    color: var(--green);
  }

  &.red {
    color: var(--red);
  }

  &.error {
    color: var(--error);
  }

  &.black {
    color: var(--black);
  }

  &.grey {
    color: var(--grey);
  }

  &.upper {
    text-transform: uppercase;
  }
}
