.TaskSingle {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  position: relative;
  &:before {
    content: none;
    display: block;
    position: absolute;
    left: 7px;
    top: 17px;
    margin-right: 10px;
    border-radius: 12px;
    width: 15px;
    height: 15px;
    background: var(--sidebar);
    border-left: 1px solid var(--white);
    border-top: 1px solid var(--white);
    border-bottom: 1px solid var(--sidebar);
    border-right: 1px solid var(--sidebar);
    animation: roll 0.4s linear infinite;
    z-index: 2;
    opacity: 0;
  }
  &.Loading {
    &:before {
      content: '';
      opacity: 1;
    }
  }
}

//ANIMATIONS
@keyframes roll {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Form {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 14px;
  overflow: visible;
}
