.FormWrapper {
  display: flex;
  width: 390px;
  max-width: 100%;
  height: auto;
  min-height: 100%;
  position: relative;
  z-index: 1;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  margin: 0 auto;
  gap: 20px;
  padding: 60px 20px;
}
