.Form {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 20px;

  [data-col='2'] {
    width: calc((100% - 20px) / 2);
  }

  @media (max-width: 599px) {
    gap: 14px;
    [data-col='2'] {
      width: 100%;
    }
  }
}

.InputWrapper {
  width: 100%;
  input[type='text'],
  input[type='url'],
  input[type='number'],
  input[type='email'],
  input[type='password'],
  textarea {
    width: 100%;
    min-height: 50px;
    background: var(--bg);
    border: 1px solid var(--border);
    color: var(--text-color);
    padding: 14px 20px;
    font-size: 15px;
    font-family: var(--font);
    border-radius: 10px;
    transition: 0.3s;
    outline: none;
    &:focus {
      border: 1px solid var(--text-color);
    }
  }
  textarea {
    height: 150px;
  }
  label {
    width: 100%;
    display: block;
    margin-bottom: 5px;
    font-size: 12px;
    span {
      display: inline;
    }
  }
}
