.EditProjectForm {
  display: flex;
  position: relative;
  width: 100%;
  height: calc(100% - 24px);
  flex-direction: column;
  justify-content: space-between;
  padding-top: 24px;
  > *:last-child {
    position: absolute;
    top: calc(100% + 14px);
    left: 0px;
  }
}
