.PlayStop {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  cursor: pointer;
  color: var(--white);
  background: none;
  border: none;
}
