.CloseButton {
  font-size: 0;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: absolute;
  right: 12px;
  top: 12px;
  transform: rotate(0deg);
  border: 1px solid var(--white);
  border-radius: 8px;
  z-index: 3;
  &:before,
  &:after {
    content: '';
    position: absolute;
    transition: 0.3s;
    width: 15px;
    height: 1px;
    background: var(--white);
  }
  &:before {
    transform: rotate(45deg);
  }
  &:after {
    transform: rotate(-45deg);
  }
  &:hover,
  &:focus {
    &:before {
      transform: rotate(135deg);
    }
    &:after {
      transform: rotate(45deg);
    }
  }
}
