.Sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 455px;
  height: auto;
  min-height: 100%;
  max-height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  background: var(--sidebar);
  padding-bottom: 114px;
  &.NoBtn {
    padding-bottom: 0px;
  }
  &::-webkit-scrollbar-track {
    background-color: var(--main) !important;
  }
}
