.Profile {
  display: flex;
  width: 100%;
  align-items: center;
  align-content: center;
  padding: 12px;
  gap: 10px;

  strong {
    display: block;
    max-width: calc(100% - 38px);
  }
}

.Avatar {
  display: flex;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 28px;
  height: 28px;
  border-radius: 28px;
  overflow: hidden;
  z-index: 1;
  background: var(--color);
  span {
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
  }
}
