.Profile {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  width: 100%;
  padding: 5px;
  align-content: center;
}

.ProfileHead {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 10px;
  padding: 5px 7px;
  align-items: center;
  align-content: center;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0);
  cursor: pointer;
  transition: background 0.3s;

  strong {
    display: block;
    width: calc(100% - 68px);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  svg {
    margin-right: 8px;
    margin-left: auto;
  }

  &:hover,
  &.isOpen {
    background: var(--grey-dark);
  }
}

.ProfileBody {
  display: flex;
  position: absolute;
  top: 100%;
  margin-top: 0px;
  left: 5px;
  width: calc(100% - 10px);
  flex-wrap: wrap;
  padding: 8px 20px;
  z-index: 10;
  justify-content: center;
  border-radius: 5px;
  background: var(--select);
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s, transform 0.3s;
  transform: translate(0px, 20px);
  li {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 14px;
    padding: 14px 0px;
    border-top: 1px solid var(--grey-dark);
    &:first-child {
      border-top: none;
      justify-content: center;
    }
    &:last-child {
      justify-content: space-between;
    }
    span {
      display: block;
      width: 100%;
    }
  }
  &.isOpen {
    position: relative;
    width: 100%;
    left: 0px;
    margin-top: 6px;
    pointer-events: all;
    opacity: 1;
    visibility: visible;
    transform: translate(0px, 0px);
  }
}
