.ProjectSidebarContent {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  padding: 32px 50px;
  &:last-child {
    position: fixed;
    width: 449px;
    left: 0px;
    bottom: 0px;
    background: var(--sidebar);
    background: linear-gradient(0deg, var(--sidebar) 70%, rgba(0, 0, 0, 0) 100%);
    z-index: 2;
  }
}
