.ProjectSidebarContent {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  padding: 32px 50px;
  &:last-child {
    position: fixed;
    width: 455px;
    left: 0px;
    bottom: 0px;
    background: var(--sidebar);
    z-index: 2;
  }
}
