.Camera {
  display: flex;
  flex-wrap: wrap;
  width: 130px;
  height: auto;
  position: absolute;
  right: 35px;
  top: 86px;
  gap: 20px;
  z-index: 6;
  transition: 0.6s;
  transform: translate(0px, 0px);
  div {
    display: block;
    position: relative;
    span {
      text-align: center;
      font-size: 14px;
      position: absolute;
      display: flex;
      flex-wrap: nowrap;
      flex-direction: column;
      align-content: center;
      align-items: center;
      justify-content: center;
      gap: 6px;
      width: 100%;
      top: 50%;
      transform: translate(0%, -50%);
      padding: 10px;
    }
  }

  &:hover {
    .HideCamera {
      opacity: 1;
      pointer-events: all;
    }
  }
  &.Hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transform: translate(100%, 0px);
  }
}

.Video {
  display: block;
  width: 100%;
  height: 185px;
  border-radius: 20px;
  background: var(--select);
  object-fit: cover;
  object-position: center;
  transform: scale(-1, 1);
}

.HideCamera {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 24px;
  background-color: var(--red);
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
  svg {
    display: block;
    width: 74%;
    height: 74%;
  }
}
